<link href="css/footer.css" rel="stylesheet" type="text/css">
<div class="foot">
    <div class="foot_box">
        <div class="foot_left">
            <div class="enterprise_nav">
                <ul class="enterprise_ul">
                    <li>网站首页</li>
                    <li>企业合作</li>
                    <li>人才招聘</li>
                    <li>联系我们</li>
                    <li>讲师招募</li>
                    <li>常见问题</li>
                    <li>意见反馈</li>
                    <li>幕课大学</li>
                    <li>友情链接</li>
                </ul>
            </div>
            <p>Copyright © 2018 imooc.com All Rights Reserved | 京ICP备 12003892号-11</p>
        </div>
        <div class="foot_right">
            <div class="foot_icon"><img src="images/wx背景透明.png"></div>
            <div class="foot_icon"><img src="images/新浪.png"></div>
            <div class="foot_icon"><img src="images/qq背景透明.png"></div>
        </div>
    </div>
</div>