<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.4.4/vue.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.5.0/vue-resource.js"></script>
    <link rel="stylesheet" href="css/personalInfo.css">
    <script class="resources library" src="/js/area.js" type="text/javascript"></script>
    <script type="text/javascript">_init_area();</script>
</head>
<body>
<%include loginedHeaderBlack.ejs%>
<div id="app">
    <div class="main">
        <div class="row">
            <div class="user-head-info" >
                <div class="user-head-img" @mouseover="sendphoto()" @mouseout="delectphoto()">
                    <img src="/images/bg1.jpg" alt="" >
                    <p  data-toggle="modal" data-target="#myModal1">更换头像</p>

                    <!-- 模态框（Modal） -->
                    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">更换头像</h4>
                                </div>
                                <div class="modal-body">
                                    <img src="/images/bg1.jpg" alt="">
                                    <form  action="/personalInfo" method="post"  class="pull-right">
                                        <input type="file" name="photo" id="photo">
                                        <button class="button" type="submit">提交</button>
                                    </form>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>




                </div>
                <div class="user-head-title" v-for="it in personalInfo ">
                    <h4>{{it.nickname}}</h4>
                    <span>{{it.sex==0?"男":"女"}}</span>
                    <span>{{it.province}}</span>
                    <span>{{it.role==0?"学生":"教师"}}</span>
                    <span>{{occupation}}</span>
                    <em>|</em>
                    <span @click="changhead()" class="more">▽更多信息</span>
                    <p>{{it.autograph}}</p>
                </div>
                <div class="user-head-right">
                    <ul class="list-inline">
                        <li>
                            <span>0h</span>
                        </li>
                        <li>
                            <span>0</span>
                        </li>
                        <li>
                            <span>1</span>
                        </li>
                        <li>
                            <span>1</span>
                        </li>
                        <li>
                            <span>0</span>
                        </li>
                    </ul>
                    <ul class="list-inline">
                        <li>
                            <span>学习时长</span>
                        </li>
                        <li>
                            <span>经验</span>
                        </li>
                        <li>
                            <span>积分</span>
                        </li>
                        <li>
                            <span>关注</span>
                        </li>
                        <li>
                            <span>粉丝</span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>


        <div class="user-content">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2 user-content-list">
                    <ul class="list-unstyled" id="lists">
                        <li  v-for="(item,index) in menu2" @click="choiceMenu2(item,index)" >
                            <img :src="item.sc" alt="">
                            <span>{{item.title}}</span>
                        </li>
                    </ul>
                </div>





                <div class="col-md-8">

                    <!--课程开始-->
                    <div class="user-class">
                        <ul class="list-inline">
                            <li class="action">最近学习</li>
                            <li>我的收藏</li>
                        </ul>
                        <hr>
                        <div class="user-class-content">
                            <div class="Course">
                                <div class=" movie-list" v-for="(item,index) in collectionCourse" v-if="index%3==0">
                                    <div class="movie-list-box" >
                                        <a href="../login.html">
                                            <div class="movie-list-img">
                                                <img src="https://img.mukewang.com/58cf6639000183f406000338-240-135.jpg" alt="" >
                                            </div>
                                            <h4>
                                                {{item.title}}
                                            </h4>
                                        </a>
                                        <span><img src="images/icon7.png" alt="">{{item.comment}}</span>
                                        <span><img src="images/icon4.png" alt="">{{item.collection}}</span>
                                        <p>{{item.description}}</p>
                                    </div>

                                    <div class="movie-list-box"  v-if="collectionCourse[index+1]!=null">
                                        <a href="../login.html">
                                            <div class="movie-list-img">
                                                <img src="https://img.mukewang.com/58cf6639000183f406000338-240-135.jpg" alt="" >
                                            </div>
                                            <h4>
                                                {{collectionCourse[index+1].title}}
                                            </h4>
                                        </a>
                                        <span><img src="images/icon7.png" alt="">{{collectionCourse[index+1].comment}}</span>
                                        <span><img src="images/icon4.png" alt="">{{collectionCourse[index+1].collection}}</span>
                                        <p>{{collectionCourse[index+1].description}}</p>
                                    </div>


                                    <div class="movie-list-box" v-if="collectionCourse[index+2]!=null">
                                        <a href="../login.html">
                                            <div class="movie-list-img">
                                                <img src="https://img.mukewang.com/58cf6639000183f406000338-240-135.jpg" alt="" >
                                            </div>
                                            <h4>
                                                {{collectionCourse[index+2].title}}
                                            </h4>
                                        </a>
                                        <span><img src="images/icon7.png" alt="">{{collectionCourse[index+2].comment}}</span>
                                        <span><img src="images/icon4.png" alt="">{{collectionCourse[index+2].collection}}</span>
                                        <p>{{collectionCourse[index+2].description}}</p>
                                    </div>

                                </div>
                            </div>






                        </div>
                    </div>
                    <!--课程结束-->

                    <!--个人信息开始-->
                    <div class="user-setting" >
                        <span>个人信息</span>
                        <div class="right">
                            <img src="/images/bianji.png" alt="">
                            <button class="btn btn-primary btn-lg set"  data-toggle="modal" data-target="#myModal">编辑</button>
                        </div>
                        <hr>
                        <!-- 模态框（Modal） -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">编辑个人信息</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/TeacherInfo" method="post" v-for="item in personalInfo" class="form">
                                            <div class="group">
                                                <label for="">昵称:</label>
                                                <input type="text" class="control nikcname"  placeholder="" name="nikcname" :value="item.nickname">
                                            </div>

                                            <div class="group">
                                                <label for="">职位:</label>
                                                <select class="control position " name="position" id="" :value="item.position">
                                                    <option value=""></option>
                                                    <option value="">请选择职位</option>
                                                    <option value="1">学生</option>
                                                    <option value="2">Web前端工程师</option>
                                                    <option value="3">PHP开发工程师</option>
                                                    <option value="4">JAVA开发工程师</option>
                                                    <option value="5">移动开发工程师</option>
                                                    <option value="6">Linux系统工程师</option>
                                                    <option value="7">数据库工程师</option>
                                                    <option value="8">UI设计师</option>
                                                    <option value="9">全栈工程师</option>

                                                </select>

                                            </div>

                                            <div class="group">
                                                <label for="" class="slect">所在地区:</label>

                                                <div class="info">
                                                    <div>
                                                        <select id="s_province" name="province" :value="item.provice"></select>  
                                                        <select id="s_city" name="city" :value="item.city"></select>  
                                                        <select id="s_county" name="s_county"></select>
                                                    </div>
                                                    <div id="show"></div>
                                                </div>
                                            </div>

                                            <div class="group">
                                                <label for="">性别:</label>
                                                <div class="cheackbox">
                                                    <input type="radio" value="0" name="sex" :checked="isChecked">
                                                    <span>男</span>
                                                    <input type="radio"  value="1"  name="sex" :checked="!isChecked">
                                                    <span>女</span>
                                                </div>
                                            </div>

                                            <div class="group">
                                                <label for="" class="sign">个性签名:</label>
                                                <textarea  id="" cols="43" rows="3" name="autograph" :value="item.autograph"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary" >确定</button>
                                        </form>

                                    </div>
                                    <!--<div class="modal-footer">-->
                                    <!---->
                                    <!--</div>-->
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>
                        <!--模态框结束-->

                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <div class="user-info" v-for="item in personalInfo">
                                    <div class="user-info-left">
                                        <p>昵称</p>
                                        <span>{{item.nickname}}</span>
                                    </div>
                                    <div class="user-info-left">
                                        <p>职位</p>
                                        <span>{{occupation}}</span>
                                    </div>
                                    <div class="user-info-left">
                                        <p>城市</p>
                                        <span>{{item.province}}</span>
                                    </div>
                                    <div class="user-info-left">
                                        <p>性别</p>
                                        <span>{{item.sex==0?"男":"女"}}</span>
                                    </div>
                                    <div class="user-info-left">
                                        <p>个性签名</p>
                                        <span>{{item.autograph}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                    <!--个人信息结束-->

        <!--教师招募开始-->

        <div class="user-apply" v-if="isApply">

                <div class="container">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>添加课程</h3>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal" action="/addCourse" method="post" enctype="multipart/form-data" >
                                <div class="form-group">
                                    <label  class="col-sm-2 control-label">一级栏目</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="firstID" v-model="firstID">
                                            <option value="0">=请选择一级栏目=</option>
                                            <option  v-for="item in cate.cateMenu"
                                                     :value="item.cid">{{item.cid}}--{{item.catename}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-2 control-label">二级栏目</label>
                                    <div class="col-sm-8">
                                        <select class="form-control"  name="secondID">
                                            <option value="0">=请选择二级栏目=</option>
                                            <option v-if="item.pid == firstID" v-for="item in cate.cateList"
                                                    :value="item.cid" >{{item.cid}}--{{item.catename}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-2 control-label">课程类别</label>
                                    <div class="col-sm-8">
                                        <label class="radio-inline">
                                            <input type="radio" name="isVideo" value="1" checked>
                                            视频
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="isVideo" value="0">
                                            文档
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-2 control-label">名称</label>
                                    <div class="col-sm-8">
                                        <input name="title" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-2 control-label">课程封面</label>
                                    <div class="col-sm-8">
                                        <input name="logo" type="file">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-2 control-label">简介</label>
                                    <div class="col-sm-8">
                                        <textarea name="description" class="form-control" rows="5" ></textarea>
                                    </div>
                                </div>
                                <hr>
                                <div class="center-block">
                                    <div class="col-sm-2"></div>
                                    <button type="reset" class="btn btn-danger btn-lg col-xs-12 col-sm-3">重置</button>
                                    <div class="col-sm-2"></div>
                                    <button type="submit" class="btn btn-success btn-lg col-xs-12 col-sm-3">保存</button>
                                    <div class="col-sm-2"></div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>


        </div>
        <!--讲师招募结束-->

                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">_init_area();</script>
<script>
    var dat2=[
        {
            sc:"/images/课程.png",
            title:"课程"
        },
        {
            sc:"/images/个人.png",
            title:"设置"
        },
        {
            sc:"/images/申请权限.png",
            title:"上传"
        }
    ];
    var app = new Vue({
        el:"#app",
        data:{
            isActive:false,
            menu2:dat2,
            collectionCourse:[],
            personalInfo:[],
            isChecked:"",
            isTeacher:true,
            isApply:true,
            occupation:'',
            flag:true,

            firstID:0,
            secondID:0,
            cate:null
        },
        mounted:function () {
            this.$http.get("/getCourseMenu").then(function (res) {
                console.log(res.data)
                this.cate = res.data;
            })


            this.$nextTick(function () {
                this.$http.get("/getuserInfo").then(function (res) {
                    this.personalInfo = res.data;
                    console.log( this.personalInfo[0].role)
                    this.occupation =this.personalInfo[0].position;
                    switch( this.occupation){
                        case 'undefined':
                            this.occupation="请选择职业";
                            break;
                        case '1':
                            this.occupation="学生";
                            break;
                        case '2':
                            this.occupation="Web前端工程师";
                            break;
                        case '3':
                            this.occupation="PHP开发工程师";
                            break;
                        case '4':
                            this.occupation="JAVA开发工程师";
                            break;
                        case '5':
                            this.occupation="移动开发工程师";
                            break;
                        case '6':
                            this.occupation="Linux系统工程师";
                            break;
                        case '7':
                            this.occupation="数据库工程师";
                            break;
                        case '8':
                            this.occupation="UI设计师";
                            break;
                        case '9':
                            this.occupation="全栈工程师";
                            break;
                    }
                    if(res.data[0].sex == 0){
                        this.isChecked = true;
                    }else if(res.data[0].sex == 1){
                        this.isChecked = false;
                    }else if(this.personalInfo[0].role == '1'){

                    }else if(this.personalInfo[0].role == '0'){

                    }

                })
            });
            this.$nextTick(function () {
                this.$http.get("/getusercollection").then(function (res) {
                    this.collectionCourse = res.data;
                })
            })
        },
        methods:{
            sendphoto:function () {

                $(".user-head-img p").css('display',"block");
            },
            delectphoto:function () {
                $(".user-head-img p").css('display',"none");
            },
            changhead:function () {
//               this.flag = true;
                if(this.flag){
                    $(".user-head-info").css("height",'200px');
                    $(".user-head-title p").css('display','block');
                    this.flag=false;
                }else{
                    $(".user-head-info").css("height",'150px');
                    $(".user-head-title p").css('display','none');
                    this.flag=true;
                }

            },
            choiceMenu2:function(item,index) {
                this.menu2[1].sc ="/images/个人.png";
                this.menu2[0].sc ="/images/课程.png";
                this.menu2[2].sc ="/images/申请权限.png";
                $(".user-class").css("display","none");
                $(".user-setting").css("display","none");
                $(".applyinfo ").css("display","none");
                $(".user-apply").css("display","none");
                $("#lists li").attr("class","");
                $("#lists li:eq("+index+")").attr("class","active");
                if(index == 1){
                    $(".user-setting").css("display","block");
                    console.log(this.menu2[1]);
                    this.menu2[1].sc ="/images/个人1.png";
                }else if(index == 2){
                    $(".user-apply").css("display","block");
                    this.menu2[2].sc ="/images/申请权限1.png";
                }else{
                    $(".user-class").css("display","block");
                    this.menu2[0].sc ="/images/课程1.png";
                }
            },
            inspect:function () {
                console.log(11111);
                this.$http.get("/inspectApplyInfo").then(function (res) {
                    console.log(res.data);
                    if(res.data == 'apply-success'){
                        this.isApply = false;
                        $(".user-apply").css("display","none");
                        $(".applyinfo ").css("display","block");
//                          this.isTeacher=false;
                    }else if(res.data == 'Application'){
                        this.isApply = false;
                        $(".user-apply").css("display","none");
                        $(".applyinfo ").css("display","block");
                        $(".applyinfo .cont").html("正在审核，请耐心等待。。。");
                    }else if(res.data == 'please'){

                    }
                })
            }
        }
    })

    var Gid  = document.getElementById ;
    var showArea = function(){
        Gid('show').innerHTML = "<h3>省" + Gid('s_province').value + " - 市" +
            Gid('s_city').value + " - 县/区" +
            Gid('s_county').value + "</h3>"
    }
    Gid('s_county').setAttribute('onchange','showArea()');

</script>

</body>
</html>