<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加课程</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.4.4/vue.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.5.0/vue-resource.js"></script>
</head>
<body>


<div class="wrap" id="app">

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>添加课程</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" action="/addCourse" method="post" enctype="multipart/form-data" >
                <div class="form-group">
                    <label  class="col-sm-2 control-label">一级栏目</label>
                    <div class="col-sm-8">
                        <select class="form-control" name="firstID" v-model="firstID">
                            <option value="0">=请选择一级栏目=</option>
                            <option  v-for="item in cate.cateMenu"
                                     :value="item.cid">{{item.cid}}--{{item.catename}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-2 control-label">二级栏目</label>
                    <div class="col-sm-8">
                        <select class="form-control"  name="secondID">
                            <option value="0">=请选择二级栏目=</option>
                            <option v-if="item.pid == firstID" v-for="item in cate.cateList"
                                    :value="item.cid" >{{item.cid}}--{{item.catename}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-2 control-label">课程类别</label>
                    <div class="col-sm-8">
                        <label class="radio-inline">
                            <input type="radio" name="isVideo" value="1" checked>
                            视频
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="isVideo" value="0">
                            文档
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-2 control-label">名称</label>
                    <div class="col-sm-8">
                        <input name="title" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-2 control-label">课程封面</label>
                    <div class="col-sm-8">
                        <input name="logo" type="file">
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-2 control-label">简介</label>
                    <div class="col-sm-8">
                        <textarea name="description" class="form-control" rows="5" ></textarea>
                    </div>
                </div>
                <hr>
                <div class="center-block">
                    <div class="col-sm-2"></div>
                    <button type="reset" class="btn btn-danger btn-lg col-xs-12 col-sm-3">重置</button>
                    <div class="col-sm-2"></div>
                    <button type="submit" class="btn btn-success btn-lg col-xs-12 col-sm-3">保存</button>
                    <div class="col-sm-2"></div>
                </div>

            </form>
        </div>
    </div>
</div>

</div>

<script src="js/uploadCourse.js"></script>

</body>
</html>