*{
    margin: 0;
    padding: 0;
}
.topBar {
    width: 100%;
    height: 70px;
    /*background-color: #fe3;*/
}
.logo{
    text-align: center;
    font-size: 30px;
    font-family: 微软雅黑;
    line-height: 70px;
}
.topBar-nav{
    margin-top: 20px;
    margin-left: -20px;
    color: rgb(113,119,125);
    /*background-color: red;*/
}
.topBar-search{
    outline: none;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    height: 30px;
    width: 70%;
    text-align: center;
    color: rgb(113,119,125);
    /*border-bottom: solid;*/
    border-bottom-color: silver;
    margin-left: -80px;
    margin-top: 25px;
}
.topBar-login div{
    color: rgb(113,119,125);
    margin-top: 26px;
   font-size: 16px;
    /*background-color: blueviolet;*/
}
.logoico{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: -105px;
    margin-left: 150px;
}
.attention{
    width: 30px;
    height: 30px;
    margin-top: -5px;

}