<style>
    .site-footer{position: fixed;bottom: 0px;width: 100%;right: 0px;z-index: 10}
</style>

<footer class="site-footer">
    <div class="text-center">
        Copyright©2018 <a href="">mySchool</a>
        <a href="#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
</footer>