<footer class="site-footer">
    <div class="text-center">
        Copyright©2018 <a href="">mySchool</a>
        <a href="#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
</footer>