<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>后台管理系统-登录</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">

	  <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	  <style>
		  .error{color: red;padding-left: 5px}
		  .form-login{margin-top: 140px}
	  </style>

  </head>

  <body>

	  <div id="login-page">
	  	<div class="container">
	  	
		  <form id="form" class="form-login" action="tologin" method="post" >
			<h2 class="form-login-heading">登录</h2>
			<div class="login-wrap">
				<input type="text" id="username1" name="username" class="form-control" placeholder="User ID" autofocus>
				<span class="error user">
					<% if(res && res == 'usernameError'){ %>
						<%= '用户名错误'%>
					<%} %>
				</span>
				<br>
				<input type="password" id="passwd1" name="passwd" class="form-control" placeholder="Password">
				<span class="error pwd">
                    <% if(res && res == 'passwordError'){ %>
                    <%= '密码错误'%>
                    <%} %>
				</span>
				<label class="checkbox">
					<span class="pull-right">
						<a data-toggle="modal" href="login.html#myModal"> 忘记密码?</a>
					</span>
				</label>
				<button id="loginBtn" class="btn btn-theme btn-block" href="index.html" type="button"><i class="fa fa-lock"></i> 登录</button>
				<hr>

				<!--<div class="login-social-link centered">-->
				<!--<p>or you can sign in via your social network</p>-->
					<!--<button class="btn btn-facebook" type="submit"><i class="fa fa-facebook"></i> Facebook</button>-->
					<!--<button class="btn btn-twitter" type="submit"><i class="fa fa-twitter"></i> Twitter</button>-->
				<!--</div>-->
				<!--<div class="registration">-->
					<!--没有账号?<br/>-->
					<!--<a class="" href="#">-->
						<!--点击注册-->
					<!--</a>-->
				<!--</div>-->

			</div>

			  <!-- Modal -->
			  <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
				  <div class="modal-dialog">
					  <div class="modal-content">
						  <div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							  <h4 class="modal-title">忘记密码 ?</h4>
						  </div>
						  <div class="modal-body">
							  <p>输入你的管理员账号绑定邮箱.</p>
							  <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

						  </div>
						  <div class="modal-footer">
							  <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
							  <button class="btn btn-theme" type="button">确定</button>
						  </div>
					  </div>
				  </div>
			  </div>
			  <!-- modal -->

		  </form>
	  	
	  	</div>
	  </div>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="assets/js/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("assets/img/login-bg.jpg", {speed: 500});
    </script>

	  <script>
          $('#loginBtn').click(check)
          function check(){
              console.log(333)
              if($.trim($('#username1').val()) ==''){
                  $('.user').html('用户名不能为空!')
                  return false;
              }
              if($.trim($('#passwd1').val()) ==''){
                  $('.user').html('')
                  $('.pwd').html('密码不能为空!')
                  return false;
              }
              $('#form')[0].submit();
          }
	  </script>
  </body>
</html>
