*{
    margin: 0;
    padding: 0;
}
.navbar-default{
    height:75px;
    margin-bottom: -10px;
    background-color: white;
    align-content: center;
}
.navbar-header a{
    margin-left: 10px;
}
.navbar-brand{
    font-size: 27px;
    margin-top: 10px;
    /*margin-left: 20px;*/
}
.nav-list{
    font-size: 16px;
    margin-top: 10px;
    margin-left: 40px;
}
.nav-list li{
    margin-left: 10px;
}
/*.nav-list li:active{*/
    /*color: black;*/
/*}*/
.navbar-left{
    /*width: 300px!important;*/
    height: 48px;
    padding: 10px 0;
    color: #71777d;
    background-color: transparent!important;
    font-size: 12px;
    margin-left:10%;
    box-sizing: border-box;
}
.form-control{
    /*border:none;*/
    outline: none;
    background-color: white;

}
.btn-default{
    border: none;
    /*margin-left: -40px;*/
}
.btn-default:hover{
    background-color: lightblue;
}
.navbar-right li{
    font-size: 16px;
    margin-top: 10px;
}
.navbar-right li button{
    border:none ;
    background-color: white;
    /*margin-top: 13px;*/
    color:  #71777d;
    margin-left: 3px;
    margin-right: 15px;
}
.navbar-right li button:hover{
    color: rgb(240,20,20);
}
.navbar-right li button:active{
    border: none;
}
.navbar-right img{
    margin-right: 30px;
}
.tixing img{
    margin-top: 15px;
}
.btn-lg:hover{
    background-color: white;
}
.btn-lg:active{
    background-color: white;
    border: none;
}
.modal-header{
    width: 400px;
}
.modal-header button{
    outline: none;
}
.modal-header button:active{
    color: rgb(240,20,20) ;
}
.modal-content{
    width: 400px;
    margin-left: 20%;
    /*text-align: center;*/
}
.modal-body{
    width: 350px;
}
.modal-body input{
    /*text-align: center;*/
    text-indent: 1em;
    font-size: 14px;
    display: block;
    width: 90%;
    height: 40px;
    margin-left: 12%;
    margin-top: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    border: 1px solid grey;
    outline: none;
}
.login span{
    font-size: 14px;
    margin-left:12%;
    /*margin-top: -10px;*/
    color: red;
}
.register span{
    font-size: 14px;
    margin-left:12%;
    /*margin-top: -10px;*/
    color: red;
}
#login{
    color:rgb(240,20,20) ;
    background-color: white;
}
#login:active{
    color:rgb(240,20,20) ;
}
.btn1{
    background-color:  rgb(240,20,20);
    color: white;
    font-size: 16px;
    outline: none;
}
.modal-footer p{
    float:left;
    font-size: 15px;
    margin-left: 10px;
}
.modal-footer img{
    /*margin-left: 5px;*/
    margin-right: 10px;
    width: 25px;
    height: 25px;
}
.container-fluid{
    position: relative;
    height: 75px;
}
 .userInfo-box{
    display: none;
    width: 280px;
    height: 230px;
    z-index: 20;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top:54px;
    right: 10px;

}

.header-img .userInfo-box-header img{
    border-radius: 50%;
   position: absolute;
    top:20px;
    left: 7%;
}
.header-img .userInfo-box-header h5{
    font-size: 17px;
    font-family: 微软雅黑;
    color: rgb(7,17,47);
    position: absolute;
    top:25px;
    left: 37%;
}
.header-img .userInfo-box-header a{
    text-decoration: none;
    color: black;
}
.header-img .userInfo-box-header .collection{
    position: absolute;
    top:60px;
    left:37%;
}
.header-img .userInfo-box-header .collection span{
    margin-right:15px;
    font-size: 12px;
    color: rgb(147,153,159);
}
.header-img .userInfo-box-content,.userInfo-box-content1{
    display: flex;
    flex-direction: row;
    align-content: center;
}
.header-img .userInfo-box-content{
    position: absolute;
    top:115px;
    left: 7%;
    line-height: 30px;
    text-align: center;
}
.header-img .userInfo-box-content1{
    position: absolute;
    top:148px;
    left: 7%;
    line-height: 30px;
    text-align: center;
}
.header-img .box1,.header-img .box2,.header-img .box3,.header-img .box4{
    width: 120px;
    height: 30px;
    background-color: rgb(248,250,252);
    margin-right: 3px;
}
.box1 a,.box2 a,.box3 a,.box4 a{
    color: rgb(147,153,159) ;
    font-size: 13px;
    text-decoration: none;
}
.box1 img,.box2 img,.box3 img ,.box4 img{
    margin-right: 3px;
}
.box1 span,.box2 span,.box3 span ,.box4 span{
    font-size: 13px;
    margin-right:10px;
}
.box1:hover,.box2:hover,.box3:hover,.box4:hover{
    background-color: rgb(217,221,215);
}
.header-img .userInfo-box-footer{
    position: absolute;
    top:195px;
    left: 7%;
}
.header-img .userInfo-box-footer a{
    font-size: 14px;
    text-decoration: none;
    color:rgb(147,153,159) ;
}
.header-img .userInfo-box-footer a:hover{
    color: rgb(7,17,47);
}
