.carousel{
    /*height: 370px;*/
    background: linear-gradient(to bottom, #f4f2f4 0%,#ffffff 100%);
    /*border-radius: 3%;*/
}
#carousel-example-generic{
    margin-top: 40px;
    box-shadow: 0px 20px 20px #dcd5dc;
    /*border-radius: 3%;*/

}
.carousel-inner,.carousel-control.left,.carousel-control.right{
    border-radius: 15px;
}
.content{
    background: linear-gradient(to bottom, #ffffff 0%,#f4f2f4  100%);
}
.content-type{
    margin-top:50px;
    /*text-align: center;*/
    /*height: 400px;*/
}

.content-type-header{
    text-align: center;
    margin-top: 30px;
}
.content-type-header em{
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;

}
.content-type-list{
    display: flex;
    flex-direction: row;
    /*align-content: center;*/
    margin-top: 10px;
    margin-bottom: 30px;
}
.list{
    margin-top: 30px;
}
.listcontent{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.listcontent-box{
    width:200px;
    margin-left:20px;
    height: 250px;
    background-color: white;
    box-shadow: 0px 5px 5px #dcd5dc;
    /*background-color: #dcd5dc;*/
}
.listcontent-box-img{
    overflow: hidden;
    width:100%;
    height: 120px;
}
.listcontent-img:hover {
    transform:scale(1.1);
    transition: all 0.5s;

}
.listcontent-box a{
    text-decoration:none;
}
.listcontent img{
    width:100%;
    height: 120px;
    /*border-radius: 5%;*/
}
.
.listcontent a{
    text-decoration:none;
}
.listcontent h4,.middle-content-box h4{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 16px;
    letter-spacing:1px;
    line-height: 18px;
    color: black;

}
.listcontent h4:hover{
    color: rgb(240,20,20);
}
.listcontent span,.listcontent p,.middle-content-box span{
    color: #ae9eae;
    margin-right:10px;
    margin-top: 10px;
}
.listcontent p{
    overflow: hidden;
    text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; //文本行数
}
.listcontent span img,.middle-content-box span img{
    width: 16px;
    height: 16px;
    margin-left: 5px;
}
.content-type{
    margin-top: 20px;
}
.ad{
    margin-top: 10px;
    margin-bottom: 10px;
}
.ad img{
    width: 100%;
    height: 90px;
    border-radius: 3%;
}
.left-img{
    width: 90%;
    height: 380px;
    background-color: white;
}
.left-img a{
    text-decoration:none;
    color: black;
}
.left-img-contnet{
    background-image: url("https://img0.ph.126.net/cDOT-9jkON60efPwYwGSZw==/6599327064029698620.jpg");
    opacity:0.7;
    width: 100%;
    height: 280px;
    position: relative;
}
.line{
    position: absolute;
    top: 10%;
    left: 10%;
    width:30% ;
    height: 5px;
    background-color: white;
}
.left-img-contnet p{
    position: absolute;
    top: 13%;
    left: 10%;
    color: white;
    font-weight:500;
}
.left-img-contnet h4{
    position: absolute;
    top:25%;
    left: 10%;
    color: white;
}
.left-img-icon{
    position: absolute;
    top: 50%;
    left: 38%;
}
.left-img-icon:hover{
    transform:scale(1.1);
    transition: all 0.5s;
}
.left-img-btm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.left-img-btm div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}
.left-img-btm div a:hover{
    color: rgb(240,20,20);
}

.middle-content{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.middle-content-list a{
    text-decoration: none;
    color: black;
}
.middle-content-list span{
    margin-right: 10px;
    color: #ae9eae;

}
.middle-content-list h4{
    font-size: 16px;
    margin-top: -5px;
}
.middle-content-list h4:hover{
    color: rgb(240,20,20);
}
.middle-content-img{
    width: 100%;
    height: 130px;
    position: relative;
}
.middle-content-list{
    width: 200px;
    margin-right: 20px;
}
.middle-content-img img{
    position: absolute;
    width: 100%;
    height: 120px;
    border-radius: 5%;
}
.middle-content-img img:hover{
    transform:translate(0,-10px);
    transition: all 0.5s;
    box-shadow: 0 15px 15px #3333;
}


.note{
    margin-top: 30px;
    padding-bottom: 40px;
}
.note-content-box{
    /*height: 400px;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:#ffffff;
    border-radius: 5%;
    margin-top:20px;
    /*box-shadow: 0px 0px 15px  #95cfe9;*/
}
.note-content-box:hover{
    box-shadow: 0px 5px 15px  #95cfe9;
}
.note-icon{
    margin-top: 30px;
    margin-left: 7%;
}
.note-icon span{
    color: #67bae0;
}
.note-title{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left:7% ;
    margin-right: 7%;
}
.l{
    width: 70%;
    height: 60px;
}
.note-img{
    float: right;
    width: 30%;
    height:50px;
    background-color: hotpink;
}
.note-img img{
    width: 100%;
    height:100%
}
.note-text p,.note-text1 p,.note-text2 p,.note-text3 p{
    margin-left:7%;
    margin-right: 7%;
    margin-top: 20px;
    color: rgb(77,85,93);
    overflow: hidden;
    text-overflow:ellipsis;
}
.note-text p{
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 18; //文本行数
 }
.note-more{
    margin-top: 10px;
    margin-left: 7%;
    margin-bottom: 20px;
}
.note-more span{
    margin-left: 3%;
    color: rgb(77,85,93);
}
.note-more a{
    float: right;
    text-decoration: none;
    margin-right: 7%;
    color:#aad9ee ;
}
.note-more a:hover{
    color: #67bae0;
}
.card{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-image: url(../images/bg.jpg);
}
.card-title{
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.card-info{
    margin-top: 50px;
    margin-bottom: 30px;
    width: 100%;
    height: 250px;
    border-radius: 5%;
    background-color: rgb(212,214,220);
    text-align: center;

}
.card-info-img{
    width: 100px;
    height: 100px;
    margin-top: -20px;
    /*margin-left: 28%;*/
    border-radius: 50%;
}
.card-info-title h4{
    font-weight: 700;
    font-size: 17px;
}
.card-info-title p{
    color: rgb(77,85,93);
}
.card-info-content p{
    color: rgb(77,85,93);
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 10px;
    margin-bottom: 20px;
    /*margin-bottom: 20px;*/
    overflow: hidden;
    text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; //文本行数
}